// build:css assets/css/bootstrap-grunt-sass-pug-style.min.css
link(href='assets/css/bootstrap-grunt-sass-pug-style.css', rel='stylesheet')
// endbuild
//Внимание! Строчку с комментарием build не удалять она служебная для uncss