// build:css assets/css/bootstrap-grunt-sass-pug-style.min.css
<<<<<<< HEAD
link(href='assets/css/bootstrap-grunt-sass-pug-style.css', rel='stylesheet')
// endbuild
=======
//link(href='../bower_components/bootstrap/dist/css/bootstrap.min.css', rel='stylesheet')
link(href='assets/css/bootstrap-grunt-sass-pug-style.min.css', rel='stylesheet')
>>>>>>> 69520eeb70f1640de07c52ff7d998b16829ed5be

//Внимание! Строчку с комментарием build не удалять она служебная для uncss