// build:css assets/css/bootstrap-grunt-sass-pug-style.min.css
//link(href='../bower_components/bootstrap/dist/css/bootstrap.min.css', rel='stylesheet')
link(href='../dist/assets/css/bootstrap-grunt-sass-pug-style.min.css', rel='stylesheet')
// endbuild2