// build:js assets/js/bootstrap-grunt-sass-pug-components.min.js
script(src="//localhost:35729/livereload.js")
//script(src='../bower_components/jquery/dist/jquery.js')
<<<<<<< HEAD
script(src='assets/js/bootstrap-grunt-sass-pug-components.min.js')
// endbuild
// build:js assets/js/bootstrap-grunt-sass-pug-app.min.js
script(src='assets/js/bootstrap-grunt-sass-pug-app.min.js')
=======
script(src='/assets/js/bootstrap-grunt-sass-pug-components.min.js')
// endbuild
// build:js assets/js/bootstrap-grunt-sass-pug-app.min.js
script(src='/assets/js/bootstrap-grunt-sass-pug-app.min.js')
>>>>>>> 69520eeb70f1640de07c52ff7d998b16829ed5be
// endbuild