// build:js assets/js/bootstrap-grunt-sass-pug-components.min.js
script(src="//localhost:35729/livereload.js")
//script(src='../bower_components/jquery/dist/jquery.js')
script(src='/js/bootstrap-grunt-sass-pug-components.min.js')
// endbuild
// build:js assets/js/bootstrap-grunt-sass-pug-app.min.js
script(src='/js/bootstrap-grunt-sass-pug-app.min.js')
// endbuild