// build:js assets/js/bootstrap-grunt-sass-pug-components.min.js
script(src="//localhost:35729/livereload.js")
//script(src='../bower_components/jquery/dist/jquery.js')
script(src='https://code.jquery.com/jquery-3.1.1.min.js', integrity='sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=', crossorigin='anonymous')
script(src="/assets/js/concat-app.js")
