nav
    ul.menu.menu_params.menu_is_horizontal
        li.menu__node.menu__node_params
            a.menu__link.menu__link_params(href="/") Главная
        li.menu__node.menu__node_params
            a.menu__link.menu__link_params(href="/") Новости и акции
        li.menu__node.menu__node_params
            a.menu__link.menu__link_params(href="/") Контакты