.supeclass {
  background: #ff3;
}

.supeclass {
  background: #ff0;
  color: red;
  font-size: 22px;
  line-height: normal;
}
.supeclass a {
  color: #f02;
  -webkit-transition: -webkit-transform 1s;
  transition: transform 1s;
}
