extends templates/layout.pug
block content
  h1 Hello, world lfdgk!
  .row
    .col-md-3
      p.superclass #{name}
      p Проба 333dfgdffdg
        br
      p hello
    .col-md-3
      p.supeclass kjdg
