main
.line
article
  ul.slider
    li.slider__node
      img
.line
article
  .content
    p.content__paragraph.content__paragraph_params Приветствуем вас на сайте магазина товаров для животных "Счастливые лапки".
    | На прилавках нашего зоомагазина множество товаров для ваших любимцев. Опытные продавцы с удовольствием помогут подобрать корма и аксессуары для домашних питомцев.
    | В ассортименте магазина корма для кошек и собак известных торговых марок: Acana, Bosch, Royal Canin, Eukanuba, ProNature, 1stChoiсe, ProPlan, Grandorf и др. Так же у нас вы найдете средства для ухода за шерстью, витамины, когтеточки, игрушки, поводки и ошейники, миски,клетки, лежаки, домики, лотки, наполнители и другие товары для ваших домашних животных. Широкий выбор товаров для мелких домашних животных: грызунов, черепах, а также аксессуары для содержания птиц. Если вы являетесь владельцем или только собираетесь приобрести питомца, приглашаем за покупками в зоомагазин "Счастливые лапки". Мы находимся в г. Ейск, Краснодарского края на ул. Коммунистической, 81. Т/к "Жемчужина".
    img.content__img.content__img_params

article
  h1.delimiter.delimiter_params Товары

article
  .goods
    .goods__node
      a(href="#")
        img.goods__thumb.goods__thumb_params
        span.goods__title.goods__title_params


footer
.logo
  a(href="/").logo_img-footer
.contacts
  p.contacts__string-addr.contacts__string-addr_params г.Ейск ул.Коммунистическая 81 ТЦ «Жемчужина»
  p.contacts__string-addr.contacts__string-addr_params Доставка по телефону: 8-918-373-66-99

